<form #form="ngForm" class="form mt-4" [formGroup]="signupForm" (submit)="signUp()">
  <div class="form-group">
    <mat-form-field class="w-100">
      <mat-label>E-mail</mat-label>
    <input  #inputEmail matInput placeholder="E-mail"  autofocus formControlName="email">
    </mat-form-field>
    <app-vmessage  *ngIf="signupForm.get('email').errors?.required && form.submitted" text="E-mail é obrigatório!"></app-vmessage>
    <app-vmessage *ngIf="signupForm.get('email').errors?.email && form.submitted" text="E-mail inválido!"></app-vmessage>
  </div>

  <div class="form-group">
    <mat-form-field class="w-100">
      <mat-label>Nome completo</mat-label>
    <input matInput placeholder="Nome completo" formControlName="fullName">
    </mat-form-field>
    <app-vmessage *ngIf="signupForm.get('fullName').errors?.required && form.submitted" text="Nome completo é obrigatório!"></app-vmessage>
  </div>

  <div class="form-group">
    <mat-form-field class="w-100">
      <mat-label>Nome de usuário</mat-label>
    <input matInput placeholder="Nome de usuário"  formControlName="userName">
    </mat-form-field>
    <app-vmessage *ngIf="signupForm.get('userName').errors?.minlength && form.submitted" text="Mínimo 2 caracteres!"></app-vmessage>
    <app-vmessage *ngIf="signupForm.get('userName').errors?.maxlength && form.submitted" text="Máximo 30 caracteres!"></app-vmessage>
    <app-vmessage *ngIf="signupForm.get('userName').errors?.validadorPersonalizado && form.submitted" text="Campo obrigatório!"></app-vmessage>

    <small *ngIf="signupForm.get('userName').valid" class="text-success">Disponível</small>
    <app-vmessage text="Usuário já cadastrado" *ngIf="signupForm.get('userName').errors?.usuarioJaCadastrado && form.submitted"></app-vmessage>
  </div>

  <div class="form-group">
    <mat-form-field class="w-100">
      <mat-label>Senha</mat-label>
    <input matInput type="password" placeholder="password" formControlName="password">
    </mat-form-field>
    <app-vmessage *ngIf="signupForm.get('password').errors?.required && form.submitted" text="Senha é obrigatória!"></app-vmessage>
    <app-vmessage *ngIf="signupForm.get('password').errors?.minlength && form.submitted" text="Mínimo 2 caracteres!"></app-vmessage>
    <app-vmessage *ngIf="signupForm.get('password').errors?.maxlength && form.submitted" text="Máximo 14 caracteres!"></app-vmessage>
    <app-vmessage *ngIf="signupForm.errors?.userNamePassword && form.submitted" text="Senha e nome de usuário devem ser diferentes"></app-vmessage>
  </div>


  <button  class="w-100 bg-dark text-white" [disabled]="this.signupForm.invalid && !this.signupForm.pending" mat-raised-button>Registrar</button>


  <p class="p-3">Já é registrado?<a [routerLink]="['']" class="ml-2">Login</a></p>
</form>
