<div class="full responsive-div m-auto">
  <div class="container-form">
    <form class="form" [formGroup]="signupForm" (submit)="signUp()" #form="ngForm">
      <h2 class="stext">Sign Up</h2>
      <div class="form-group w-75 m-auto pb-4">
        <input class="form-control w-100" type="email" name="email" placeholder="Email" formControlName="email">
        <app-vmessage text="E-mail already registered " *ngIf="signupForm.get('email').errors?.usuarioJaCadastrado && form.submitted">
        </app-vmessage>
      </div>

      <div class="form-group w-75 m-auto">
        <input class="form-control w-100" type="text" name="name" placeholder="Create your user name"
               formControlName="userName"><br>
        <app-vmessage *ngIf="signupForm.get('userName').errors?.maxlength && form.submitted"
                      text="Max 30 character!"></app-vmessage>
        <app-vmessage *ngIf="signupForm.get('userName').errors?.validadorPersonalizado && form.submitted"
                      text="Field is required!"></app-vmessage>
        <small *ngIf="signupForm.get('userName').valid" class="text-success">Available</small>
        <app-vmessage text="User already registered"
                      *ngIf="signupForm.get('userName').errors?.usuarioJaCadastrado"></app-vmessage>
      </div>

      <div class="form-group w-75 m-auto">
        <input class="form-control w-100" type="text" name="fullName" placeholder="Full Name"
               formControlName="fullName"><br>
        <app-vmessage *ngIf="signupForm.get('fullName').errors?.required && form.submitted"
                      text="Name is required!"></app-vmessage>
      </div>

      <div class="form-group w-75 m-auto">
        <input class="form-control w-100" type="password" name="password" placeholder="Password"
               formControlName="password"><br>
        <app-vmessage *ngIf="signupForm.get('password').errors?.required && form.submitted"
                      text="Password is required!"></app-vmessage>
        <app-vmessage *ngIf="signupForm.get('password').errors?.minlength && form.submitted"
                      text="Min 2 characters!"></app-vmessage>
        <app-vmessage *ngIf="signupForm.get('password').errors?.maxlength && form.submitted"
                      text="Max 14 characters!"></app-vmessage>
        <app-vmessage *ngIf="signupForm.errors?.userNamePassword && form.submitted"
                      text="Username and password must be different"></app-vmessage>
      </div>

      <div class="form-group w-75 m-auto pb-4">
        <div class="row">
          <div class="col">
            <button type="button" [routerLink]="['']" class=" btn btn-circle-primary">Sign In</button>
          </div>
          <div class="col">
            <button type="submit" [disabled]="this.signupForm.invalid && !this.signupForm.pending"
                    class="{{classButton}}  btn btn-circle-primary float-right">
              <b>Sign Up</b>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="pt-4"><a href="terms" class="ml-2 text-white">You accept the privacy terms</a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
