@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');

.full {
  //background-image: url("https://projectno51.000webhostapp.com/data/extended%20sources/My%20Post%20.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.form {
  margin: auto;
  background-color: #303030;
  height: 550px;
  width: 400px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 5px 8px 15px #404040;
  transition: z-index 0.5s linear;
  input{
    height: 8vh;
  }
}
.stext {
  color: white;
  text-align: center;
  padding: 50px;
  font-family: 'Martel', serif;
  letter-spacing: 1px;
}
.btn-circle-primary{
  background-color: #6eb6ff;
  width: 100%;
}


