<div class="text-center mt-lg-5 font-weight-bold pb-2 pt-2">Relembrar senha</div>

<form class="form mt-lg-5 p-5" [formGroup]="forgotPasswordForm" (submit)="save()" #form="ngForm">

  <div class="form-group">
  <p class="pb-2 pt-2">Insira o E-mail que você usou para criar a conta ou seu nome de usuário.</p>
    <mat-form-field class="w-100">
      <mat-label>Usuário / E-mail</mat-label>
      <input #userNameEmailInput
             formControlName="userNameEmail"
             matInput type="text" >
    </mat-form-field>

    <app-vmessage
      *ngIf="forgotPasswordForm.get('userName')?.errors?.required && form.submitted"
      text="Nome de usuário/E-mail é obrigatório!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="message && form.submitted"
      text="{{message}}"
    ></app-vmessage>
  </div>
  <button class="w-100 bg-dark text-white"  mat-raised-button [disabled]="forgotPasswordForm.invalid" type="submit">Enviar</button>

</form>
