@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');

.full {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  padding-bottom: 3%;
}

.container-form{
  padding-top: 1vw;
  padding-bottom: 1vw;
}

input {
  height: 8vh;
}

.stext {
  color: white;
  text-align: center;
  padding: 50px;
  font-family: 'Martel', serif;
  letter-spacing: 1px;
  font-display: swap;
}

.btn-circle-primary{
  background-color: white;
  width: 100%;
}
.responsive-div{
  width:60%;
}
@media screen and (max-width: 660px) {
  .responsive-div{
    width:100%;
  }
}
