<div class="container pb-5">
  <h2>Uma rede social simples, sem algoritmos que te deixam presos</h2>
  <p>Os algoritmos das redes sociais são um conjunto de dados e regrinhas estabelecidas por cada rede social, sendo eles os responsáveis por determinar quais conteúdos e quais páginas aparecem primeiro para o público na linha do tempo de suas respectivas contas.</p>
  <h2>Como funcionam e como são usados os algoritmos das redes sociais?</h2>
  <p>Cada rede social terá suas próprias regras a serem levadas em conta para determinar o seu algoritmo, mas a premissa é a mesma: elas irão ajudar a ranquear as postagens e filtrar os melhores para cada usuário com base no seu perfil.
    Tudo nessas redes é monitorado, o que você lê, curte, segue, o tempo que você fica visualizando determinado post, tudo isso para ter um perfil
    psicológico e usar sua atenção como produto. É importante deixar claro que isso é feito no Circle, mas não em sua linha do tempo e no explorer, apenas
    para fins de conteúdo patrocinado.
  </p>
  <p>Este tipo de algoritmo tem como leva "você é o produto", coisa que o <a href="https://mycircle.click">Circle</a> não o faz.</p>
  <p> As consequências para o uso destes algoritmos é extremamente perigoso, tornando a rede viciante, difundindo Fake News e causando instabilidade social e política no mundo, portanto, nossa filosofia para a exibição
  destes conteúdos é baseada em técnicas simples de linha de tempo.</p>
</div>
