<div class="text-center mt-lg-5 font-weight-bold pb-2 pt-2">Nova senha</div>
<div class="container">
  <form class="form mt-lg-5 container w-75" [formGroup]="changePasswordForm" (submit)="save()" #form="ngForm">
    <div class="form-group">
      <p class="pb-2 pt-2">Insira o E-mail que você usou para criar a conta ou seu nome de usuário.</p>
      <mat-form-field class="w-100 ">
        <mat-label class="text-white">Nova Senha</mat-label>
        <input #password formControlName="password" matInput type="password">
      </mat-form-field>
      <app-vmessage *ngIf="changePasswordForm.get('password')?.errors?.required && form.submitted" text="Senha é obrigatório"></app-vmessage>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100">
        <mat-label class="text-white ">Rep. Nova Senha</mat-label>
        <input #repPassword formControlName="repPassword" matInput type="password">
      </mat-form-field>
      <app-vmessage *ngIf="changePasswordForm.get('repPassword')?.errors?.required && form.submitted" text="Repetir senha é obrigatório"></app-vmessage>
      <app-vmessage *ngIf="message && form.submitted" text="{{message}}"></app-vmessage>
    </div>
    <button class="w-100 bg-dark text-white" mat-raised-button [disabled]="changePasswordForm.invalid" type="submit">Confirmar</button>
  </form>
</div>