<div class="container w-100">
  <img class="card-img-top w-100" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/oslo.jpg" alt="Bologna">
  <div class="card-body text-center">
    <img  class="avatar rounded-circle" src="{{user.user_avatar_url?user.user_avatar_url:imgProfileDefault}}" alt="Img">
    <i photoOwnerOnly class="fa fa-cogs cursor-pointer" aria-hidden="true" [routerLink]="['/setting']"></i>
    <h4 class="card-title">{{user.user_full_name | titlecase}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{user.address | titlecase}}</h6>
    <p class="card-text">{{user.description}} </p>
  </div>
</div>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="load()"
>
  <app-photos [photos]="photos"></app-photos>
</div>
