<div class="container pb-5">
  <h2>Monetization policy</h2>
  <p>
    <a href="https://mycircle.click">Circle</a>, the newest social network, is creating a monetization policy for influencers who bring content to their
    followers, this new policy will be valid from June 1, 2021, but new users from February 15, 2021 will be increasing
    value to your network right now.
  </p>
  <h3>User real</h3>Fake users will not be monetized and will tarnish adjacent reputations.
  <p>New users are always good for new social networks, our platform has fake detection systems, so never try to create users that are not real, this can tarnish your <a href="javascript:void(0)">monetization reputation</a>.</p>
  <h3><b>Common questions</b></h3>
  <h4>How will the amounts be paid?</h4>
  <p>
    The amounts will be paid in cash, as an account deposit, as long as they comply with the terms of the <a href="javascript:void(0)">real users policy</a>
  </p>
  <h4>Can I start accumulating points with new followers?</h4>
  <p>
    Yes, new users can start scoring, but these values ​​will not be seen yet as we are working on a earnings panel that will be ready on June 1st
  </p>
  <h4>What will be the amounts receivable?</h4>
  <p>
    We have not yet defined values, but they will be identical to other known social networks, the calculation will be based on our ADS resources being spent on campaigns, our policy is, instead of spending on campaigns on platforms like Google ADS, we will spend on our users , if you want to rely on values, we advise you to read about how campaign monetization works with Google ADS.
  </p>
  <h4>How will I know about new updates?</h4>
  <p>
    We will send notifications by E-mail or through this same channel via documentation. Remember, do not put Circle E-mails in the Spam box, as this may cause you to miss new updates from the network.
    It is important to make it clear that Circle does not request personal information, documents or any type of sensitive data by E-mail, always check the source of the E-mails.
  </p>
  <p>
    This policy is effective from
    <strong> February </strong> /
    <strong> 2021 </strong>.
  </p>
</div>
