<div class="w-100 " *ngIf="!isExplorer && !isTimeline" id="banner-profile-component">
    <div class="container-cover">
      <img *ngIf="this.user.user_cover_url" class="w-100 e2e-iframe-trusted-src" [src]="user_cover_url" onerror="this.src='https://be.mycircle.click/storage/cover_default/cover-default-grey.png'" alt='User cover'/>
    </div>
    <div class="card-body text-center">
      <img class="avatar rounded-circle e2e-iframe-trusted-src cursor-pointer" [src]="user.user_avatar_url" onerror="this.src='https://be.mycircle.click/storage/profile_default/default.png'" alt='Avatar user'>
      <i itemOwnerOnly showIsLogged [ownedItem]="user" class="fa fa-cogs cursor-pointer fa-2x" aria-hidden="true" [routerLink]="['/setting',user.user_name]"></i>
      <h4 class="card-title">{{user.user_full_name | titlecase}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{user.address | titlecase}}</h6>
      <p class="card-text">{{user.description}} </p>
      <div class="row font-weight-bold m-auto w-100" showIsLogged>
        <div class="col m-auto cursor-pointer" (click)="openFollowers()">
          <span>{{user.user_followers}}</span> Followers
        </div>
        <div class="col m-auto cursor-pointer" (click)="openFollowings()">
          <span>{{user.user_following}}</span> Following
        </div>
      </div>
      <div class="row" showIsLogged itemOwnerOnly [ownedItem]="user" [noOwnedItem]="true">
        <div class="col">
          <button class="btn {{this.following?'btn-info':'btn-light'}}" (click)="follow()">{{this.following ? 'Following' : 'Follow'}}</button>
        </div>
      </div>
    </div>
  </div>