<div class="text-center w-100 general" showIsLogged>
    <mat-form-field  class="match-input-search {{_openInputSearch?'':'hide'}}">
      <mat-label class="border-0">Buscar</mat-label>
      <input
        matInput
        autocomplete="off"
        type="search"
        (keyup)="_filter($event.target.value)"
      >
      <mat-icon matSuffix><i class="fa fa-close text-muted" (click)="toggleSearch(false)"></i></mat-icon>
    </mat-form-field>
    <i *ngIf="!_openInputSearch" class="fa fa-search text-muted search-responsive" (click)="toggleSearch(true);"></i>


      <div infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="moreUsers()"
        *ngIf="filter && _openInputSearch" class="autocomplete">
          <ul>
            <li *ngFor="let user of users">
              <a href="/user/{{user.user_name}}">
                {{user.user_full_name | titlecase}}
                <p class="text-muted">{{user.user_name}}   {{user?.address | titlecase}}</p>
              </a>
            </li>
            <li *ngIf="users;" class="text-muted text-center m-0" (click)="moreUsers()">
              <div class="w-100 h-100 more-text" *ngIf="hasMore;else emptyResult">
                +
              </div>
              <ng-template #emptyResult class="w-100 h-100">
                  Nada mais encontrado
              </ng-template>
            </li>
          </ul>
      </div>
</div>
