<!--showIsLogged-->
<div class="general text-center">
    <mat-form-field  class="match-input-search w-100 {{_openInputSearch?'':'hide'}}">
      <mat-label class="text-white">Search</mat-label>
      <input
        matInput
        autocomplete="off"
        type="search"
        #search
        (keyup)="_filter($event.target.value)"
      >
      <mat-icon matSuffix><i class="fa fa-close text-white cursor-pointer" (click)="toggleSearch(false)"></i></mat-icon>
    </mat-form-field>
    <i *ngIf="!_openInputSearch" class="fa fa-search text-white search-responsive mt-2" (click)="toggleSearch(true);"></i>
      <div infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="moreUsers()"
        *ngIf="filter && _openInputSearch" class="autocomplete m-auto">
          <ul>
            <li *ngFor="let user of users">
              <a href="/user/{{user.user_name}}">
                <img [src]="user.user_avatar_url?user.user_avatar_url:avatarDefault" class="avatar rounded-circle mr-2">
                {{user.user_full_name | titlecase}}
                <p class="text-muted">
                  {{user.user_name}}  {{user?.address | titlecase}}
                </p>
              </a>
            </li>
            <li *ngIf="users;" class="text-muted text-center m-0" (click)="moreUsers()">
              <div class="w-100 h-100 more-text" *ngIf="hasMore;else emptyResult">
                +
              </div>
              <ng-template #emptyResult class="w-100 h-100">
                Nothing else found
              </ng-template>
            </li>
          </ul>
      </div>
</div>
