<form [formGroup]="form" class="m-auto fixed-bottom" showIsLogged *ngIf="viewComponent">
  <div class="mb-5">
    <div class="row">
      <div class="col-auto w-100 m-auto">
        <textarea formControlName="comment_text" placeholder="Comentário"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <i class="m-3 fa fa-arrow-left cursor-pointer" aria-hidden="true" (click)="emitEvent()"></i>
        <i class="m-3 fa fa-camera cursor-pointer" aria-hidden="true"></i>
      </div>
      <div class="col-4 m-auto p-2">
        <input type="button"
               (click)="save()"
               [disabled]="form.invalid"
               class="btn-send  {{form.valid?'text-primary':'text-muted'}}"
               value="PUBLICAR"
        >
      </div>
    </div>
  </div>

</form>
