header#header {
  main{
    div.menu-logged{
      display: flex;
    }
  }
  $font-color: #fafafa;
  img{
    width: 30px;
  }
  img:nth-child(2){
    width: 5vw;
  }
  .col-100px{
    min-width: 130px;
  }
  .back-to-explore {
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
    margin-left: 5px;
  }

  .close-char {
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
    margin-left: 5px;
    color: white;
    font-weight: bold;
  }

  .z-100 {
    z-index: 100;
  }



  .lp {
    width: 100%;
    margin: auto;
    min-height: 56px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background: var(--black);
  }

  .text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fafafa;
    color: transparent;
  }

  .menu-desktop {
    table{
      min-height: 56px;
      width: 100% !important;
      tr{
        td:first-child{
          text-align: left;
          width: calc(100vw/3);
        }
        td{
          text-align: center;
          a:not(.a-sign){
            padding-right: 20px;
            padding-left: 20px;
          }
          a.a-sign{
            padding-right: 10px;
            padding-left: 10px;
            float: right;
            right: 0;
          }
        }
      }
    }
  }

  .lp__nav__logo {
    color: $font-color;
    font-weight: 600;
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
    font-family: 'Geometr415BlkBT';
    color:white;
    padding-left:10px;
    cursor: pointer;
    height: 56px;
  }

  .ancor-terms{
    text-align: center;
  }
  .ancor-signup-login{
    width:150px !important;
    text-align: center;
  }

  a {
    color: white;
  }

  .menu-mobile {
    display: none;
  }

  .menu-mobile-logged {
    display: none;
  }

  @media screen and (min-width: 799px) {
    .menu-responsive-logged {
      display: none;
    }
  }
  @media screen and (max-width: 799px) {

    .fade-in-f {
      -webkit-animation: fadeIn .2s ease-in;
      -moz-animation: fadeIn .2s ease-in;
      -o-animation: fadeIn .2s ease-in;
      animation: fadeIn .2s ease-in;
    }

    .menu-desktop {
      display: none !important;
    }

    .menu-desktop-logged {
      display: none !important;
    }
    .menu-mobile {
      display: block;
      height: 56px;
    }
    .menu-mobile-logged {
      display: table-cell;
    }

    .menu-responsive-fun {
      @extend .fade-in-f;
      height: 100vh;
      width: 100vw;
      background-color: black;
      position: absolute;
      z-index: 99;
      opacity: .8;
      color: white;
      padding-top: 100px;
      font-size: 2rem;

      .row {
        text-align: center;
        margin: auto !important;
        padding: 10px;

        .col {
          cursor: pointer;
          margin: auto !important;
        }
      }
    }

    .menu-responsive-logged {
      @extend .menu-responsive-fun;
    }
    .menu-responsive {
      @extend .menu-responsive-fun;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  }
}
