<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <a *ngIf="!openSearch" class="navbar-brand title-header" href="/">
      Sq<span class="text-muted">u</span>are
    </a>
    <app-search (openInputSearch)="openSearch = $event" class="m-auto"></app-search>
    <div *ngIf="!openSearch">
      <div *ngIf="(user$ | async) as user;else login">
        <a class="ml-2 " (click)="logout()">Sair</a>
      </div>
      <ng-template #login>
        <span class="navbar-text">
          Por favor, faça <a [routerLink]="['']">login</a>
        </span>
      </ng-template>
    </div>
  </nav>
  <app-alert></app-alert>
</header>
