.title-header{
  font-size:20px;
}
@media only screen and (max-width: 600px) {
  .title-header{
    font-size: 12px;
  }
}

#navbar-scrool {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
img.logo{
  max-width: 25px !important;
}
