<header class="fixed-top" id="navbar-scrool">
  <nav class="navbar navbar-light bg-white">
    <div class="row w-100">
      <div class="col">
        <div *ngIf="!openSearch">
          <a *ngIf="(user$ | async)" class="navbar-brand title-header" (click)="redirect()">
            Circle
          </a>
        </div>
      </div>
      <div class="col">
        <app-search *ngIf="(user$ | async) && verifiedAccount();" (openInputSearch)="openSearch = $event" class="m-auto" ></app-search>
      </div>
      <div class="col">
        <div *ngIf="!openSearch" class="float-right ml-4">
          <div *ngIf="(user$ | async) as user;else login">
            <div class="cursor-pointer" [matMenuTriggerFor]="menu">
              <i class="fa fa-user fa-2x" aria-hidden="true"></i>
            </div>
            <mat-menu #menu="matMenu" class="mt-3">
              <a mat-menu-item [href]="['user/' + user.user_name]">
                <span class="ml-2" >Perfil</span>
              </a>
              <div mat-menu-item (click)="logout()">
                <a class="ml-2">Sair</a>
              </div>
            </mat-menu>
          </div>
          <ng-template #login>
        <span class="navbar-text">
          Para interagir faça <a [routerLink]="['']">login</a>
        </span>
          </ng-template>
        </div>
        <div *ngIf="(user$ | async) && !openSearch" class="float-right">
          <i class="fa fa-compass fa-2x cursor-pointer"  [routerLink]="['to-explore']"  aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </nav>
  <app-alert></app-alert>
</header>

