.div-general-photo-detail {
  min-height: 800px;
  .img-container {
    background: #90979c;
    width: 60% !important;
    height: 600px !important;
  }

  .cover {
    width: 100% !important;
    height: 600px !important;
    object-fit: cover !important;
  }
}
@media (max-width: 600px){
    .img-container {
      min-width: 98%;
      margin-left: 1% !important;
      margin-right: 1% !important;
    }
  }
