<div class="bg-white div-general-photo-detail" *ngIf="(photo$ | async) as photo" >
  <div class="row">
    <div class="responsive-row m-auto">
      <div class="row">
        <div class="col">
          <div class="img-container ">
            <app-photo
              [url]="photo.photo_url"
              [description]="photo.photo_description"
            >
            </app-photo>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <small>
            <p class="ml-4 text-left break-word">
              {{photo?.photo_description}}
            </p>
            <hr>
            <app-like
              [photo]="photo" (viewFormComment)="photoComment = $event"
              (photoId)="photoId = $event"
              [_viewFormComment]="photoComment"
            ></app-like>
          </small>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <app-photo-comments [comments]="comments" [photoId]="photo.photo_id"></app-photo-comments>
        </div>
      </div>
    </div>
  </div>
  <app-comments-form
    (comments)="comments = $event"
    [viewComponent]="photoComment"
    [photoId]="photoId"
    *ngIf="photo.photo_allow_comments;"
    (viewFormComment)="photoComment = $event"
  >
  </app-comments-form>
</div>
