.div-geral-photo-comments {
  margin-bottom: 50px;
  .comment-list {
    overflow-y: auto;
  }

  ul {
    li:not(:last-child) {
      background: #e8e8f5;
      padding: 8px;
      border: 8px solid white;
      border-radius: 0 18px;
      height: auto;

      span.text-date {
        font-size: 10px;
        color: #90979c;
      }
    }
  }
}

