<p class="text-center text-muted" *ngIf="!photos.length">
  Nenhum resultado encontrado
</p>
<div class="container my-4">
  <div class="row">
    <div *ngFor="let photo of rows; let i = index"
         class="col-lg-4 {{i === 0?'col-md-12':'col-md-6'}} mb-4 z-depth-1-half wow fadeIn">
      <a [routerLink]="['/p',photo.photo_id]">
        <app-card>
          <app-photo
            appDarkenOnHover
            brightness="55%"
            [url]="photo.photo_url"
            [description]="photo.photo_description"
          >
          </app-photo>
        </app-card>
      </a>
      <div class="text-center" showIsLogged>
        {{ photo.photo_likes }}
        <i aria-hidden="true" class="fa fa-hand-peace-o fa-2x mr-2 text-muted cursor-pointer"></i>
        {{ comments.length }}
        <i aria-hidden="true" class="fa fa-commenting-o fa-2x mr-2 ml-2 text-muted cursor-pointer" (click)="viewFormComment = !viewFormComment;photoId = photo.photoId;"></i>
      </div>
    </div>
  </div>
</div>
<app-comments-form [viewComponent]="viewFormComment" [photoId]="photoId"></app-comments-form>


