
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$App-primary: mat-palette($mat-indigo);
$App-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$App-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$App-theme: mat-light-theme((
  color: (
    primary: $App-primary,
    accent: $App-accent,
    warn: $App-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($App-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  scroll-behavior: smooth;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif !important;
}
input[type=button]:disabled{
  background: #797985 !important;
}
button:disabled{
  background: #797985 !important;
}
a{
  text-decoration: none !important;
  cursor:pointer !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.alert-success{
  background-color:#3e68f9 !important;
  border-radius: 0 !important;
  border:0 !important;
  margin:0 !important;
  color:#eeeefc !important;
}
.alert-danger{
  background-color:#d83243 !important;
  border-radius: 0 !important;
  border:0 !important;
  margin:0 !important;
  color:#eeeefc !important;
}
.alert-warning{
  background-color:orange !important;
  border-radius: 0 !important;
  border:0 !important;
  margin:0 !important;
  color:#eeeefc !important;
}
.alert-info{
  background-color:#4e4e56 !important;
  border-radius: 0 !important;
  border:0 !important;
  margin:0 !important;
  color:#eeeefc !important;
}
.hide{
  display: none !important;
}
::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.backdrop{
  position: fixed !important;
  height: 100%;
}
.cropper{
  .square{
    width: 12px !important;
    height: 12px !important;
    background-color: red !important;
    border-radius: 50px;
  }
}


.body-comment-text {
  max-width: 95%;
  min-height: 8vh;
  display: block;
  font-family: "Calibri Light";
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;


  span{
    word-wrap: break-word;
    font-family: "Calibri Light";
  }
  span, details {
    display: inline;
  }

  details {
    position: relative;
  }

  details summary {
    display: block;
    cursor: pointer;
  }

  details summary:focus {
    outline: none;
  }

  details[open] {
    display: block;
    padding-bottom: 25px;
    animation: open .2s linear;
  }

  details[open] summary {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  details .open {
    padding-left: 5px;
    text-align: middle;
    color:#425ab4;
  }

  details .open:after {
    display: inline-block;
    position: relative;
    top: -3px;
    padding-left: 8px;
    content: "\00bb";
    transform: rotate(90deg);
  }

  details[open] .open {
    display: none;
  }

  details .close {
    font-size:14px;
    color:#425ab4;
    font-weight: unset;
    display: none;
  }

  details[open] .close {
    display: block;
  }

  ::-webkit-details-marker {
    display: none;
  }


  @keyframes open {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}
.swal2-container{
  padding: 0 !important;
}
.swal2-content{
  padding: 0 !important;
  min-width: 100% !important;
  min-height: 80vh !important;
}
.textarea-alert{
  font-family: "Calibri Light" !important;
  font-size: 12px !important;
  border-radius: 0 !important;
}
.thumb-edit-description {
  width: 80%;
  height: 500px;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: 50% 50%;
  filter: grayscale(1);
}
.button-alert{
  width: 35% !important;
  border-radius: 0 !important;
  max-height: 35px !important;
  font-size: 12px !important;

}
@media only screen and (max-width: 600px) {
  .button-alert{
    width: 100% !important;
  }
}
@media only screen and (min-width: 600px) {

  .swal2-content{
    min-width: 50% !important;
    min-height: 1vh !important;
  }
  .thumb-edit-description {
    width: 25%;
    height: 250px;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.alert-danger{
  background-color: #ff2e63 !important;
}
.alert-info{
  background-color: #a2d5f2 !important;
}
.alert-success{
  background-color: #a2d5f2 !important;
}
.alert-warning{
  background-color: #ff2e63 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: white !important;
}
.full-width-dialog{
  min-width: 100% !important;
}
