// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~swiper/swiper-bundle';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$App-primary: mat-palette($mat-indigo);
$App-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$App-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$App-theme: mat-light-theme((
  color: (
    primary: $App-primary,
    accent: $App-accent,
    warn: $App-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($App-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

input[type=button]:disabled {
  background: #797985 !important;
}

button:disabled {
  background: #797985 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.hide {
  display: none !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.backdrop {
  position: fixed !important;
  height: 100%;
}

.cropper {
  .square {
    width: 12px !important;
    height: 12px !important;
    background-color: red !important;
    border-radius: 50px;
  }
}


.body-comment-text {
  max-width: 95%;
  min-height: 6vh;
  display: block;
  font-family: "Calibri Light";
  font-size: 12px;
  margin-left: 5px;

  span {
    word-wrap: break-word;
    font-family: "Calibri Light";
  }

  span, details {
    display: inline;
  }

  details {
    position: relative;
  }

  details summary {
    display: block;
    cursor: pointer;
  }

  details summary:focus {
    outline: none;
  }

  details[open] {
    display: block;
    padding-bottom: 25px;
    animation: open .2s linear;
  }

  details[open] summary {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  details .open {
    padding-left: 5px;
    text-align: middle;
    color: #425ab4;
  }

  details .open:after {
    display: inline-block;
    position: relative;
    top: -3px;
    padding-left: 8px;
    content: "\00bb";
    transform: rotate(90deg);
  }

  details[open] .open {
    display: none;
  }

  details .close:after {
    content: "\00bb";
    transform: rotate(120deg);
  }

  details .close {
    font-size: 14px;
    color: #425ab4;
    font-weight: unset;
    display: none;
  }

  details[open] .close {
    display: block;
  }

  ::-webkit-details-marker {
    display: none;
  }


  @keyframes open {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

.swal2-container {
  padding: 0 !important;
}

.swal2-content {
  padding: 0 !important;
  min-width: 100% !important;
  min-height: 80vh !important;
}

.textarea-alert {
  font-family: "Calibri Light" !important;
  font-size: 12px !important;
  border-radius: 0 !important;
}

.thumb-edit-description {
  width: 80%;
  height: 500px;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: 50% 50%;
  filter: grayscale(1);
}

.button-alert {
  width: 35% !important;
  border-radius: 0 !important;
  max-height: 35px !important;
  font-size: 12px !important;
  background-color: #2778c4 !important;
  color: white !important;

}

@media only screen and (max-width: 600px) {
  .button-alert {
    width: 100% !important;
  }
}

@media only screen and (min-width: 600px) {

  .swal2-content {
    min-width: 50% !important;
    min-height: 1vh !important;
  }
  .thumb-edit-description {
    width: 25%;
    height: 250px;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.alert-danger {
  background-color: #161616 !important;
  border-radius: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  color: orange !important;
}

.alert-info {
  background-color: #161616 !important;
  border-radius: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  color: #eeeefc !important;
}

.alert-success {
  background-color: #161616 !important;
  border-radius: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  color: #eeeefc !important;
}

.alert-warning {
  background-color: #ff2e63 !important;
  border-radius: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  color: orange !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white !important;
}

.full-width-dialog {
  min-width: 100% !important;
}


$size: 100vw;

[data-filter*=image-] {
  flex: 0 1 20%;
  line-height: 0;
  position: relative;
  z-index: 0;

  img {
    height: auto;
    width: 100%;
  }
}

/** --FILTERS-- **/
.grayscale-circle {
  filter: grayscale(50%) !important;
}

.saturate-circle {
  filter: saturate(360%) !important;
}

.invert-circle {
  filter: invert(100%) !important;
}

.saturate-circle {
  filter: saturate(100%) !important;
}

.opacity-circle {
  filter: opacity(50%) !important;
}

.brightness-circle {
  filter: brightness(120%) !important;
}

.contrast-circle {
  filter: contrast(160%) !important;
}
.contrast-2-circle {
  filter: contrast(2) !important;
  -webkit-filter: contrast(2) !important;
}

.hue-rotate-circle {
  filter: hue-rotate(160deg) !important;
}

.blur-circle {
  filter: blur(2px) !important;
}
.all-the-things-circle {
  filter: contrast(1.4) saturate(1.8) sepia(.6) !important;
  -webkit-filter: contrast(1.4) saturate(1.8) sepia(.6) !important;
}
.brightness-contrast-1-circle{
  filter: brightness(1.07) contrast(0.59) !important;
}
.filter-2-circle{
  filter: hue-rotate(46deg) invert(0.15) opacity(0.83) !important;
}
.filter-3-circle{
  filter: sepia(0.42) !important;
}
.filter-4-circle{
  filter: contrast(1.66) grayscale(0.1) hue-rotate(-15deg) invert(0.03) opacity(0.96) sepia(0.5) !important;
}
.filter-5-circle{
  filter: contrast(0.83) grayscale(0.1) hue-rotate(-15deg) invert(0.03) opacity(0.96) sepia(0.5) !important;
}
.fitler-6-circle{
  position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%  !important;
  background: linear-gradient(to left,rgba(244, 112, 181, 0.4) 0%, rgba(255, 0, 212, 0.4) 100%) !important;
  mix-blend-mode: multiply  !important;
}
.filter-7-circle{
  filter: contrast(2.65) !important;
}
/** --END-FILTERS-- **/
.container-photo-form{
  .swiper-container {
    width: 100% !important;

  }
}
.focus-dander:focus{
  border-color: #FF0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}
.btn-primary:disabled{
  background-color: #727272 !important;
  color:white !important;
}

.video-circle{
  height: 600px;
  button {
    cursor: pointer;
  }

  input[type=range] {
    -webkit-appearance: none;
    align-self: center;
    background: rgb(231, 231, 231);
    height: 20px;
    opacity: .7;
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(0, 174, 255);
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  input[type=range]::-moz-range-thumb {
    background: rgb(0, 174, 255);
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  input[type=range]::-moz-range-track {
    background: rgb(231, 231, 231);
    border: none;
    width: 100%;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
    outline: none;
    text-align: center;
    text-align-last: center;
    width: 2.5rem;
  }

  option {
    background: rgb(78, 78, 78);
    color: white;
    outline:none;
    text-align: center;
    text-align-last: center;
  }

  .player {
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 60%;
    height: 100%;
  }

  .player:fullscreen .video-screen {
    background: rgb(38, 38, 39)
  }

  .player:fullscreen .file-chooser {
    transform: translateY(500%);
  }

  .file-chooser {
    color: white;
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
  }

  .video-screen {
    background: rgb(188,188,188);
    display: block;
    object-fit: cover;
    margin: 0 auto;
    transition: opacity .5s;
    width: 100%;
  }

  .controls {
    background: rgba(0, 0, 0, 0.5);
    border-top: 5px solid rgba(0, 0, 0, 0.02);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    display: flex;
    height: 70px;
    justify-content: space-around;
    opacity: 0;
    margin: 0;
    transition: .5s;
    transition-property: opacity, visibility;
    transform: translateY(-69px);
    visibility: hidden;
    width: 100%;
  }

  .controls * {
    opacity: .7;
    transition: opacity .3s;
  }

  .controls.active {
    opacity: 1;
    visibility: visible;
  }

  .fullscreen-button {
    align-self: center;
    border: 7px dashed white;
    background: transparent;
    height: 35px;
    margin: 0 15px;
    transition: scale .1s;
    width: 40px;
  }

  .play {
    align-self: center;
    height: 40px;
    margin: 0 20px;
    width: 20px;
  }

  .play.start {
    background: none;
    border: 20px solid transparent;
    border-right: none;
    border-left: 35px solid white;
    margin: 0;
    margin-left: 25px;
  }

  .play.pause {
    background: none;
    border: none;
    border-left: 15px solid white;
    border-right: 15px solid white;
    padding: 6px;
    margin: 0;
    margin-left: 15px;
    margin-right: 3px;
  }

  .volume-bar {
    margin: 0 20px;
    width: 80px;
  }

  .time-bar {
    width: 70%;
  }

  .time {
    align-self: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 24px;
    min-width: 135px;
    opacity: .9;
  }

  .speed {
    align-self: center;
    color: white;
    font-weight: bold;
    opacity: .9;
    margin-right: 5px;
    width: 50px;
  }

  ::-webkit-media-controls {
    display:none;
  }

  @media (hover: hover) {
    .controls *:hover {
      opacity: .9;
    }

    .fullscreen-button:active {
      transform: scale(1.2);
    }
  }

  @media only screen and (max-width: 900px) {
    .player {
      margin: 0;
      max-width: 100vw;
    }

    .controls {
      justify-content: space-evenly;
    }

    .controls * {
      margin: 0;
      margin-left: 8px;
    }

    .controls {
      margin: 0;
    }

    .play {
      display: none;
    }

    .time {
      font-size: 18px;
      font-weight: 400;
      max-width: 14%;
      min-width: 10%;
      width: 10%;
    }

    .time-bar {
      width: 100%;
    }

    .volume-bar {
      max-width: 10%;
    }

    .speed {
      display: none;
    }

    .fullscreen-button {
      border-width: 3px;
      height: 25px;
      margin-right: 8px;
      min-width: 25px;
      width: 40px;
    }

    .file-chooser {
      display: none;
    }
    .video-screen{
      height: 600px;
    }
  }
}
