<main>
  <div class="lp">
    <section class="lp__grid-3">
      <div class="lp__grid__item lp__grid-col">
        <div class="textHolder">
          <p>80,88,96,104,112,120,128,136,144,152,160,168,176</p>
        </div>
        <div class="lp__gridImage-1"></div>
        <div class="image"></div>
      </div>
      <div class="lp__grid__item">
        <div class="lp__subgrid lp__subgrid-sm">
          <div>
            <p>For the best moments</p>
            <p>take your best pictures</p>
            <p>get inspired</p>
          </div>
          <div class="lp__gridImage-2"></div>
        </div>
      </div>
      <div class="lp__grid__item">
        <div class="lp__subgrid lp__subgrid-md">
          <h1><span>Social</span>Sharing</h1>
          <div class="image lp__gridImage-3"></div>
        </div>
      </div>
    </section>
  </div>
</main>
<router-outlet></router-outlet>
