<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col pt-2">
          <img src="../../assets/img/logo.png" class="logo-img">
          <span class="font-weight-bold">Circle</span>
        </div>
        <div class="row">
          <img src="../../assets/img/photos.png" class="img-background m-auto">
          <!--          <img src="../../assets/img/circle.svg" class="img-background m-auto">-->
        </div>
        <div class="row p-2">
          <p class="text-moments pl-4 w-75">Publique seus melhores momentos</p>
          <p class="text-no-install pl-4 w-100 pt-1">Não é necessário instalação <a href="https://www.tecmundo.com.br/tutorial/87832-android-adicionar-atalho-tela-inicial.htm" target="_blank">Saiba mais</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
