.logo-img{
  width: 70px;
}
.text-moments{
  font-size: 28px;
  padding-top: 50px;
  line-height: 30px;
}
.text-no-install{
  font-size: 12px;
}
.img-background{
  width: 60%;
}
img{
  animation: moveBody 5s !important;
}
@keyframes moveBody {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
